{% extends 'layout/base.html' %}

{% block content %}
<section class="container">
    <ul class="pagination mt-1">
        {% for i in range(pages) %}
        <li class="page-item"><a class="page-link" href="/?page={{ i + 1 }}">{{ i + 1 }}</a></li>
        {% endfor %}
    </ul>
    <div class="row">
        {% for s in Student %}
        <div class="col-xs-12 col-md-3" style="padding: 5px;">
            <div class="card">
                <img class="card-img-top" src="{{ s.image }}" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">{{ s.name }}</h4>
                    <p class="card-text">{{( s.MSHS )}}</p>
                    <a href="/student/{{s.MSHS}}" class="btn btn-primary">Xem chi tiết</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}